@import "css components/header_css.css";
@import "css components/menu.css";
@import "css components/main.css";
@import "css components/footer.css";
@import "css components/about.css";

* {
  box-sizing: border-box;
  transition: ease all .9s;
}

body {
  margin: 0;
  font-family: "Scheme-Regular"
}

@font-face {font-family: "Scheme-Regular";
  src: url("//db.onlinewebfonts.com/t/f70b20fbdd5544d7b2452b3b8522f015.eot");
  src: url("//db.onlinewebfonts.com/t/f70b20fbdd5544d7b2452b3b8522f015.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/f70b20fbdd5544d7b2452b3b8522f015.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/f70b20fbdd5544d7b2452b3b8522f015.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/f70b20fbdd5544d7b2452b3b8522f015.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/f70b20fbdd5544d7b2452b3b8522f015.svg#SchemeW01-Regular") format("svg");
}

:root {
  --blue: #36baa2;
  --footerBeckground: #e2e2e2;
  --footerItemColor: #9e9e9e;
  --h1Color:#ffd370;
  --main_font: "Scheme-Regular", sans-serif;
}


@media screen and (max-width: 1180px) {
  .circleBlock {
    width: 100%;
    height: 140px;
    background-image: none;
    background-color: #f8f8f8;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

}
@media screen and (max-width: 900px) {

  header {
    height: 85px;
  }
  .header-wrapper {
    flex-direction: column;
  }
  .contactInfo {
    width: 100%;
    justify-content: center;
  }
  .socialInfo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo{
    display: none;
  }
  .circleBlock {
    width: 100%;
    height: 55px;
    background-image: none;
    background-color: #f8f8f8;
  }
  h1 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  h2 {
    font-size: 18px;
  }
  .someText {
    line-height: 39px;
    font-size: 16px;
  }

  .slider_wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #slider_slide {
  margin: 0 auto;
   }

  .about__info {
    width: 80%;
    margin: 0 auto;
  }
}
